@model IEnumerable<SHY.Web.Models.ProductCategoryViewModel>
<div class="top-nav rsidebar span_1_of_left">
    <h3 class="cate"><i class="fa fa-list"></i> Danh mục sản phẩm</h3>
    <ul class="menu">
        @foreach (var category in Model.Where(x => x.ParentID == null))
        {
            var url = "/" + category.Alias + ".pc-" + category.ID + ".html";
            var childCategories = Model.Where(x => x.ParentID == category.ID);
            <li>
                @if (childCategories.Count() > 0)
                {
                    <a href="@url">
                        @category.Name<img class="arrow-img" src="/Assets/client/images/arrow1.png" alt="" />
                    </a>
                }
                else
                {
                    <a href="@url">
                        <i class="fa fa-angle-double-right"></i> @category.Name
                    </a>
                }

                @if (childCategories.Count() > 0)
                {
                    <ul class="cute">
                        @foreach (var childCategory in childCategories)
                        {
                            var childUrl = "/" + childCategory.Alias + ".pc-" + childCategory.ID + ".html";
                            <li class="subitem3"><a href="@childUrl"><i class="fa fa-angle-double-right"></i> @childCategory.Name</a></li>
                        }
                    </ul>
                }
            </li>


        }
    </ul>
</div>


<div class="chain-grid menu-chain chain-cs">
    <h3 class="cate"><i class="fa fa-list"></i> <span>TƯ VẤN BÁN HÀNG</span></h3>
    <a href="single.html"><img class="img-responsive chain" src="/Assets/client/images/customer-support-online.jpg" alt="" /></a>
    <div class="grid-chain-bottom chain-watch">
        <h6>Hotline:</h6>
        <span class="actual dolor-left-grid">0166.3606.351</span>
    </div>
</div>
<div class="chain-grid menu-chain chain-cs">
    <h3 class="cate"><i class="fa fa-list"></i> <span>Tìm theo giá bán</span></h3>
    <ul class="menu">
        <li>
            <a href="/products.html?startPrice=0&endPrice=2000000">
                <i class="fa fa-angle-double-right"></i> 0 - 2.0000.000 Đ
            </a>

        </li>
        <li>
            <a href="/products.html?startPrice=2000000&endPrice=5000000">
                <i class="fa fa-angle-double-right"></i> 2.000.000 - 5.0000.000 Đ
            </a>

        </li>
        <li>
            <a href="/products.html?startPrice=5000000&endPrice=10000000">
                <i class="fa fa-angle-double-right"></i> 5.000.000 - 10.0000.000 Đ
            </a>

        </li>
        <li>
            <a href="/products.html?startPrice=10000000&endPrice=20000000">
                <i class="fa fa-angle-double-right"></i> 10.000.000 - 20.0000.000 Đ
            </a>

        </li>
        <li>
            <a href="/products.html?startPrice=20000000&endPrice=9999999999999">
                <i class="fa fa-angle-double-right"></i> Trên 20.0000.000 Đ
            </a>

        </li>

    </ul>
</div>

